.container {
  padding: 5rem;
}

h1 {
  text-align: center;
}

section, footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#tex-content {
  width: 100%;
  border: 0.1rem solid var(--color-primary);
  padding: 1rem;
  margin-bottom: 3rem;
}


#buttons {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#buttons button, #buttons select {
  padding: 0.8rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  width: 25%;
}