:root {
  --color-primary: #fd951f;
  --color-background: #130f0d;
  --color-text: #f0f0f5;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html::-webkit-scrollbar {
  width: 0.9rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 0.2rem;
}

body {
  font: 500 1.6rem Poppins;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  padding: 5rem;
}

section, footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#tex-content {
  width: 100%;
  border: 0.3rem solid var(--color-primary);
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

#buttons {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#buttons #speak-and-pause, #buttons #language-and-speed {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#buttons #speak-and-pause button, #buttons #language-and-speed button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  background: none;
  border: none;
  cursor: pointer;
}

#buttons #speak-and-pause button img {
  width: 5rem;
  height: 5rem;
}

#buttons #speak-and-pause {
  margin-bottom: 3rem;
}

#buttons select {
  padding: 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  width: 45%;
}

#buttons select, #buttons option {
  font-weight: bold;
}

@media (min-width: 800px) {
  :root {
    font-size: 62.5%;
  }

  #tex-content {
    width: 70%;
  }

  #buttons {
    width: 70%;
  }

  #buttons #speak-and-pause, #buttons #language-and-speed {
    width: 40%;
  }

  #buttons #speak-and-pause {
    margin-bottom: 0;
  }

  p {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  footer, section {
    text-align: center;
  }
}